/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: "Poppins", sans-serif; background-color: #FAFAFA; width: 100%; position: relative;}

/* MAT FORM FIELD */



.mat-form-field {
    width: 80%;
    height: 45px;
    display: block;
    margin: auto;
    margin-top: 22px;
    padding: 0;
    font-size: 14px;
    padding-top: 0.5px;
    background-color: white;
    box-sizing: border-box;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    top: .28em !important;
    bottom: .01em !important;
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: .24em 0 !important;
}
/* .mat-form-field-wrapper {
    height: 50px !important;
} */

.mat-form-field-subscript-wrapper {
    margin-top: 2px !important;
}

.mat-form-field {
    border-radius: 4px;
}


.mat-error {
    /* margin-top: -0.6px; */
    margin-left: -1px;
    font-size: 11px;
}

.mat-icon {
    font-family: 'Material Icons'; 
}

.mat-snack-bar-container {
    color: white;
}

.mat-simple-snackbar-action button {
    color: white;
}

.mat-form-field-prefix {
    top: 1px !important;
}

.mat-mdc-text-field-wrapper {
    background-color: white !important;
}

.mat-form-field-appearance-outline .mat-form-field-flex{
    margin-top: -0.65em !important;
}

/* BORDER */

.border {
    border: 1px solid #E6E6E6;
    border-radius: 10px;
}

/* COLORS */

.light-blue {
    color: #4cc9f0 !important;
 }

 .blue {
    color: #4361ee !important;
 }

 .white {
    color: white !important;
 }

 .pink {
    color: #f72585 !important;
}

.black {
    color: #383838 !important;
}

.back-pink {
    background-color: #f72585 !important;
}

.purple {
    color: #7209b7;
}

.back-purple {
    background-color: #7209b7;
}

.light-purple {
    color: #D9DFFC;
}

.back-light-purple {
    background-color: #D9DFFC;
}


.back-light-blue {
    background-color: #4cc9f0 !important;
}

.back-blue {
    background-color: #4361ee !important;
}

.dark-blue {
    color: #3a0ca3 !important;
}

.back-dark-blue {
    background-color: #3a0ca3 !important;
}

.gray {
    color: #B9BBBD !important;
}

.dark-gray {
    color: #878787 !important;
}

.light-gray {
    color: #FAFAFA !important;
}

.back-gray {
    background-color: #F5F5F5 !important;
}

.snack-bar-success {
    background-color: #4cc9f0;
    color: #ffffff;
  }

.snack-bar-front-error {
    background-color: #f72585;
    color: #ffffff;
}

.snack-bar-back-error {
    background-color: #878787;
    color: #ffffff;
}

/* BUTTONS */



.cancel-button {
    display: inline-block !important;
    text-align: center;
    margin: 30px auto 12px auto;
    padding: 10px 15px !important;
    border-radius: 17px !important;
    font-size: 1.1em;
    font-weight: 600;
    color: #7209b7 !important;
    background-color: white;
    border: 2px solid #7209b7 !important;
}

.conf-button {
    display: inline-block !important;
    text-align: center;
    margin: 30px auto 12px auto;
    padding: 10px 15px !important;
    border-radius: 17px !important;
    font-size: 1.1em;
    font-weight: 600;
    border: none;
    color: white !important;
    background-color: #7209b7;
}

.white-btn {
    background-color: white !important;
    width: 100%;
    padding: 10px 0px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer !important;
    margin-top: 10px;
}

.icon-btn {
    width: 100%;
    padding: 10px 0px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer !important;
}

/* CONTAINERS */

.basic-container {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 1px 2px 0 rgba(43, 43, 43, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.19);
}



/* CUSTOM SCROLLBAR

/* width */
::-webkit-scrollbar {
    width: 10px;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #fcfcfc; 
    border-radius: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #c0c0c0; 
    border-radius: 5px;
    height: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #969696; 
  }

/* TEXT */

.title {
    font-family: 'Pacifico', cursive;
}

h1, h2, h3, p {
    margin: 0;
}

a {
    text-decoration: none;
}

/* BUTTONS */
button {
    padding: 0px 30px !important;
    border-radius: 15px !important;
    cursor: pointer !important;
}

#eye-icon {
    cursor: pointer;
    color: gray;
}

/* REMOVE DEFAULT EYE FROM INPUT TYPE PASSWORD */
input[type=password]::-ms-reveal,
input[type=password]::-ms-clear
{
    display: none;
}