<div id="homepage-container">
    <div id="side-toolbar">
        <div id="main-options" class="basic-container">
            <h2 class="title"><span class="dark-blue">Cloud</span>Drive</h2>

            <div class="white-btn">
                <i class="fa-solid fa-file-circle-plus"></i>
                <p>Upload file</p>
            </div>
            <div class="white-btn">
                <i class="fa-solid fa-folder-plus"></i>
                <p>New directory</p>
            </div>
            <div class="text-options first-text">
                <i class="fa-solid fa-user-group"></i>
                <p>Shared with me</p>
            </div>
            <div class="text-options">
                <i class="fa-solid fa-user-plus"></i>
                <p>Invite a friend</p>
            </div>
        </div>
        <button class="purple-btn">Log out</button>
    </div>
    <div id="homepage-content" class="basic-container">
        <h1 class="purple path">Root</h1>
        <div class="content-div">
            <p class="content-title">Directories:</p>
            <div class="card-container">
                <div class="folder-card basic-container">
                    <div class="text-options">
                        <i class="fa-solid fa-folder"></i>
                        <p>something</p>
                    </div>
                    <i class="fa-solid fa-ellipsis-vertical folder-options"></i>
                </div>
                <div class="folder-card basic-container">
                    <div class="text-options">
                        <i class="fa-solid fa-folder"></i>
                        <p>something</p>
                    </div>
                    <i class="fa-solid fa-ellipsis-vertical folder-options"></i>
                </div>
            </div>
        </div>
        <div class="content-div">
            <p class="content-title">Files:</p>
            <div class="card-container">

            </div>
        </div>
    </div>
</div>
